@tailwind base;
@tailwind components;
@tailwind utilities;

/* แถม CSS ให้ Scrollbar สวยๆ */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0c0f; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccff00; 
}